.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBar{
  padding: 1%;
  text-align: left;
}

.SearchBarContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
  margin: 1%;
  
}

.inputSearch{
    padding: 0.5%;
    border-radius: 5px;
    width : 50%
}

.PageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.Sidebar{
  width: 25%;
  border: 2px solid black;
  border-radius: 10px;
  border-color: aliceblue ;
  min-height: 100vh;
  align-self: start;
  margin-right: 1%;
  align-items: center;
  padding : 0 1% 1%;

}

.BookContainer{
  margin: 3%;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100px;
  align-items:center;
  justify-content: space-around
}

